@import "../../styles";

$button-border: #805e37;
$stop-button-ring-border: #960505;
$start-button-ring-border: #014a14;
$button-diameter: 15vh;

.stop-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $button-diameter;
    width: $button-diameter;
    background-color: red;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5vh;
    border-color: $button-border;
    margin-left: 5vh;
    margin-right: 5vh;
    :hover {
        border-width: 0.5vh;
    }
}

.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $button-diameter;
    width: $button-diameter;
    background-color:green;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5vh;
    border-color: $button-border;
    margin-left: 5vh;
    margin-right: 5vh;
    :hover {
        border-width: 0.5vh;
    }
}

@for $i from 1 through 3 {
    .stop-ring-#{$i} {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: none;
        height: $button-diameter - $i;
        width: $button-diameter - $i;
        border-style: solid;
        border-radius: 50%;
        border-color: $stop-button-ring-border;
        border-width: 0.45vh;
        animation-name: blinking-stop-rings;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }
}

@for $i from 1 through 3 {
    .start-ring-#{$i} {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: none;
        height: $button-diameter - $i;
        width: $button-diameter - $i;
        border-style: solid;
        border-radius: 50%;
        border-color: $start-button-ring-border;
        border-width: 0.45vh;
        animation-name: blinking-start-rings;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }
}

@keyframes blinking-stop-rings {
    25% {
            border-color: #660101;
        }
    75% {
            border-color: $stop-button-ring-border;
        }
}

@keyframes blinking-start-rings {
    25% {
        border-color: #244002;
        }
    75% {
        border-color: $start-button-ring-border;
        }
}

.button-text {
    font-family: 'Bangers', cursive;
    font-size: 5vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    perspective: 160px;
    text-align: center;
}

.button-panel {
    display: flex;
    flex-direction: row;
    padding-bottom: 5vh;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $screen-color;
    color: white;
    height: 100%;
    width: 95%;
}

.screen-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 5vh;
    background-color: none;
}

.title {
    margin: 1vh;
    padding: 0.5vh;
    font-family: 'Press Start 2P', cursive;
    color: $text-color-1;
    font-size: 5vh;
    background-color: inherit;
    width: 60%;
    @include pop-crackle-1;
    border-style: dashed;
}

.input-labels {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.input-boxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-label {
    font-family: 'Press Start 2P', cursive;
    color: magenta;
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    @include pop-crackle-2;
}

.input {
    font-family: 'Press Start 2P', cursive;
    color: magenta;
    font-size: 2vh;
    background-color: inherit;
    border-style: none;
    caret-color: $screen-color;
    margin-top: 1vh;
    margin-bottom: 1vh;
    @include pop-crackle-2;
}

input:focus {
    outline: none;
    background-color: $text-color-1;
    caret-color: $text-color-1;
}

.input-group {
    display: flex;
    flex-direction: row;
}

button {
    background-color: $screen-color;
    border-style: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 2vh;
    color: magenta;
    @include pop-crackle-2;
}

button:focus {
    background-color: $text-color-1;
}

.stock-display {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}