<div class="container">
    <div class="screen-container">
        <div class="screen" *ngIf="isOn">
            <p class="title">STOCK MARKET PORTAL</p>
            <div *ngIf="!isValidUser" class="form-container">
                <form class="input-group" #login="ngForm">
                    <div class="input-labels">
                        <label class="input-label" for="user">USER:</label>
                        <label class="input-label" for="pwd">PWD:</label>
                    </div>
                    <div class="input-boxes">
                        <input class="input" type="text" name="user" [(ngModel)]="user.username" (ngModelChange)="checkUsername()">
                        <input class="input" type="password" name="pwd" [(ngModel)]="user.password" (ngModelChange)="checkPassword()">
                    </div>
                </form>
                <button *ngIf="usernameValid && passwordValid" class="button" (click)="onSubmit()">ENTER</button>
            </div>
            <div *ngIf="isValidUser" class="stock-display">
                <app-stock-outlet *ngFor="let stock of stocks" [stock]="stock"></app-stock-outlet>
            </div>
        </div>
    </div>
    <div class="button-panel">
        <span class="start-button" (click)="isOn = true">
            <span class="start-ring-1">
                <span class="start-ring-2">
                    <span class="start-ring-3">
                        <span class="button-text">START</span>
                    </span>
                </span>
            </span>    
        </span>
        <span class="stop-button" (click)="stopClick()">
            <span class="stop-ring-1">
                <span class="stop-ring-2">
                    <span class="stop-ring-3">
                        <span class="button-text">STOP</span>
                    </span>
                </span>
            </span>    
        </span>
    </div>
</div>
